<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.likeyun.common.mapper.LoginMapper">
    <insert id="createUserLoginLog" keyProperty="id">
        insert into t_user_login_log
        (username,realname,role,ip,address,login_time)
        values
        (#{login.username},#{login.realname},#{login.role,typeHandler=net.likeyun.common.enum_base.RoleEnumTypeHandler},
        #{login.ip},#{login.address},#{login.loginTime})
    </insert>

    <update id="updateLoginTime">
        update t_${user.role.getDesc}
        set login_time = #{user.loginTime}
        where id = #{user.id}
    </update>


    <resultMap id="base_findLoginUser" type="net.likeyun.common.entity.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="realname" property="realname"/>
        <result column="password" property="password"/>
        <result column="role" property="role" typeHandler="net.likeyun.common.enum_base.RoleEnumTypeHandler"/>
    </resultMap>


    <select id="findLoginUser" resultMap="base_findLoginUser">
            <foreach collection="enumList" item="item" separator="union all">
                select id,username,realname,`password`,role
                from t_${item.getDesc}
                where username = #{username}
            </foreach>
    </select>


</mapper>